body{
  font-family: 'Source Sans Pro', sans-serif;
 background-color: rgb(35, 9, 82);
 margin: 0;
}

html,body{
height: 100%;
}

.header{
  background-image: url("bg.png");
  background-clip:padding-box;
  width: 1280px;
  height: 480px;
}

h1{
  text-align: center;
  font-size: 9.1pc;
 position:relative;
 top:-100;
  color:white;
 left:20%;
}

